.span-8.last
  %p
    = f.check_box :billable
    = f.label :billable
  %p
    = f.label :cost, "Cost"
    %br
    $
    = f.text_field :cost
  %p
    = f.label :effort, "Effort"
    %br
    - hrs = (1..12).map {|i| [i.to_s, i]}
    = f.select :hours, options_for_select([["-- Hours --", ""]] + hrs)
    - mins = (1..3).map {|i| [ (i * 15).to_s, (i * 15) ]}
    = f.select :minutes, options_for_select([["-- Minutes  --", ""]] + mins)