
%div{ :id => "activity_#{activity.id}", :class => "activity_record" }
  .span-12
    .select_record
      - unless activity.position.blank?
        %span{ :class => "form_label" } #
        = null_safe(activity.position)
      = link_to 'Edit', edit_activity_service_path(service, :activity_id => activity), {:title => "Edit Activity for #{@person.to_s}", :class => "edit_modal_form_link edit_link icon_link"}
      - unless activity.complete?
        = link_to 'Delete', {:action => "destroy_activity", :controller => "services", :id => @service.id, :activity_id => activity.id}, :confirm => 'Are you sure?', :method => :delete, :class => "delete_link icon_link"
    .service_line
      %span{ :class => "label" }
        Service Line
      .field
        %span{ :class => "value" }
          = null_safe(activity.service_line)
    .name
      %span{ :class => "label" }
        Activity Name
      .field
        %span{ :class => "value" }
          = null_safe(activity.name)
    .event_date
      %span{ :class => "label" }
        Date of Activity
      .field
        %span{ :class => "value" }
          = activity.event_date.blank? ? "TBD" : activity.formatted_event_date
    - unless activity.due_date.blank?
      .due_date
        %span{ :class => "label" }
          Due Date
        .field
          %span{ :class => "value" }
            = null_safe(activity.formatted_due_date)
  .span-11.last
    %div
      &nbsp;
    - unless activity.created_from_service?
      .activity_type
        %span{ :class => "label" }
          Activity Type
        .field
          %span{ :class => "value" }
            = null_safe(activity.activity_type)
    %div
      %span{ :class => "label" }
        Billable
      .field
        %span{ :class => "value" }
          = boolean_view(activity.billable?)
    %div
      %span{ :class => "label" }
        Cost
      .field
        %span{ :class => "value" }
          = null_safe_currency(activity.cost)
    %div
      %span{ :class => "label" }
        Effort
      .field
        %span{ :class => "value" }
          = pluralize(activity.hours, "Hour")
          = pluralize(activity.minutes, "Minute")
  - unless activity.notes.empty?
    .span-23
      .notes_toggle
        = link_to "Show Notes", "javascript:void(0);", { :class => "show_notes_toggle toggle_open_link icon_link" }
      .notes_section.hide
        = link_to "Hide Notes", "javascript:void(0);", { :class => "hide_notes_toggle toggle_closed_link icon_link" }
        %br
        %span{ :class => "label" }
          Notes
        .notes
          - activity.notes.each do |n|
            .note
              .note_info.span-4
                .creator
                  %span{ :class => "value" }
                    = n.created_by
                .date
                  %span{ :class => "value" }
                    = n.created_at.to_s(:db)
              .note_text.span-18.last
                %span{ :class => "value" }
                  = n.text