
%div{ :id => "activity_#{activity.id}", :class => "activity_record" }
  .span-12
    .select_record
      = link_to 'Edit', edit_activity_service_path(service, :activity_id => activity), {:title => "Edit Activity for #{@person.to_s}", :class => "edit_modal_form_link edit_link icon_link"}
      %b #
      = activity.position.to_s
      = link_to 'Delete', {:action => "destroy_activity", :controller => "services", :id => @service.id, :activity_id => activity.id}, :confirm => 'Are you sure?', :method => :delete, :class => "delete_link icon_link"
    .name
      %b Activity Name
      .field
        = activity.name
    .event_date
      %b Date of Activity
      .field
        = activity.event_date.blank? ? "TBD" : activity.formatted_event_date
    - unless activity.due_date.blank?
      .due_date
        %b Due Date
        .field
          = activity.formatted_due_date
  .span-12.last
    %div
      &nbsp;
    .service_line
      %b Service Line
      .field
        = activity.service_line.to_s
    - unless activity.created_from_service?
      .activity_type
        %b Activity Type
        .field
          = activity.activity_type.to_s
    %div
      %b Billable
      .field
        = activity.billable? ? "Yes" : "No"
  - unless activity.notes.empty?
    .span-24
      .notes_toggle
        = link_to "Show Notes", "javascript:void(0);", { :class => "show_notes_toggle toggle_open_link icon_link" }
      .notes_section.span-22.hide
        = link_to "Hide Notes", "javascript:void(0);", { :class => "hide_notes_toggle toggle_closed_link icon_link" }
        %br
        %b
          Notes
        .notes
          - activity.notes.each do |n|
            .note
              .note_info.span-4
                .creator
                  = n.created_by
                .date
                  = n.created_at.to_s(:db)
              .note_text.span-18.last
                = n.text