
= form_for(@activity, :url => update_activity_service_path(@service, :activity_id => @activity.id), :html => { :id => "modal_edit_form"} ) do |f|
  = render "shared/error_messages", :object => f.object
  %h3
    = @activity.service_line.to_s
    = f.hidden_field :service_line_id
    = f.hidden_field :service_id
  .container.span-16
    .span-8
      %p
        %b #
        = @activity.position.to_s
      %p
        = f.label :name
        %span.required *
        %br
        = f.text_field :name
      - activity_types = @activity.service_line.activity_types
      - unless activity_types.blank?
        %div{ :id => "activity_type_select" }
          = f.label :activity_type_id, "Activity Type"
          %br
          = f.select :activity_type_id, activity_types.map {|u| [u.to_s, u.id]}
    .span-8.last
      %p
        = f.check_box :billable
        = f.label :billable
      %p
        = f.label :formatted_event_date, "Date"
        %span.required *
        %br
        = f.text_field :formatted_event_date, :class => "datepicker"
  .container.span-16
    %table{ :class => "records notes" }
      %thead
        %tr
          %th
            Notes
          %th{ :colspan => '2' }
      %tbody{ :class => "nested_records nested_records_notes" }
        = f.fields_for :notes do |note_form|
          = render 'note_fields', :f => note_form
      %tfoot
        %tr
          %td{ :colspan => '3' }
            = link_to_add_nested_attribute_fields "Add Note", :notes


