
= form_for(@activity, :url => update_activity_service_path(@service, :activity_id => @activity.id), :html => { :id => "modal_edit_form"} ) do |f|
  = render "shared/error_messages", :object => f.object
  .service_line
    %b Service Line
    %br
    = @activity.service_line.to_s
    = f.hidden_field :service_line_id
    = f.hidden_field :service_id
  .span-16
    .span-8
      - unless @activity.position.blank?
        %p
          %b #
          = @activity.position.to_s
      = render 'activity_name_and_date_fields', :f => f

    = render 'activity_effort_fields', :f => f

  = render 'activity_notes_fields', :f => f