- javascript "nested_attributes", "ui/services"
- stylesheet "services", "people"
- title "New Service - Update Person"

- if @service.person && @service.service_line
  = render "menu"
- else
  = render "service_header"

.page_section
  = form_for @service.person, :url => { :controller => "services", :action => "update_person", :id => @service.id } do |f|

    = hidden_field_tag "service[state]", "identified" if @service.initiated?

    = render '/people/person_fields', :f => f
  
    .buttons
      = f.submit "Continue"


:javascript
  $(function () {
    servicesUI = new Clearcats.UI.Services({ maxDate: "+1095" });
  });