- javascript "nested_attributes", "ui/services", "ui/shared"
- stylesheet "services", "people"
- title_text = @person.nil? ? "Services" : "Services for #{@person}"
- title title_text

- if @person.blank? && @project.blank?
  .page_section
    = render 'search_form'

.page_section
  = render 'cost_and_effort_summary', { :services => @services }

.page_section
  = render 'list', { :services => @services }

- if @person
  .links
    = link_to "New Service", { :controller => "people", :action => "new_services", :id => @person.id }, :method => :get, :class => "add_link icon_link"
    
    
:javascript
  $(function () {
    servicesUI = new Clearcats.UI.Services({ maxDate: "+1095" });
  });