
= form_for(@activity, :url => create_activity_service_path(@service), :html => { :id => "modal_edit_form"} ) do |f|
  = render "shared/error_messages", :object => f.object
  .service_line
    %b Service Line
    %br
    = @activity.service_line.to_s
    = f.hidden_field :service_line_id
    = f.hidden_field :service_id
  .container.span-16
    .span-8
      %p
        &nbsp;

      = render 'activity_name_and_date_fields', :f => f

    = render 'activity_effort_fields', :f => f

  = render 'activity_notes_fields', :f => f



