- user = get_current_user
- sysadmin = user.respond_to?(:sysadmin?) and user.sysadmin?

- if @people.blank?
  .no_records No clients were found.
- else
  #search_results
    Results
  .records_header
    .page_entries_info
      = raw page_entries_info @people, :entry_name => "record"
    = will_paginate @people

  = form_tag(update_ctsa_reporting_year_people_path) do
    - current_year = current_ctsa_reporting_year
    - if params[:page]
      = hidden_field_tag "page", params[:page]
    - if params[:search]
      - params[:search].each do |k, v| 
        = hidden_field_tag "search[#{k}]", v
    %table{ :class => "records" }
      %tr
        %th= ctsa_wording
        %th Select
        %th= sort_link @search, :first_name, "First Name", :params => {:criteria => params[:criteria]}
        %th= sort_link @search, :last_name, "Last Name", :params => {:criteria => params[:criteria]}
        %th= sort_link @search, :netid, "Net ID", :params => {:criteria => params[:criteria]}
        %th= sort_link @search, :employeeid, "Employee ID", :params => {:criteria => params[:criteria]}
        %th= sort_link @search, :email, "Email", :params => {:criteria => params[:criteria]}
        %th= sort_link @search, :era_commons_username, "ERA Commons", :params => {:criteria => params[:criteria]}
        %th Specialty
        %th Reporting Years
        %th 
          = "History" if sysadmin

      - @people.each do |person|
        %tr{ :class => cycle('even_record', 'odd_record') }
          %td
            = check_box_tag "people_ids[]", person.id, person.ctsa_reporting_years.include?(current_year)
          %td= link_to 'Edit', edit_person_path(person), :class => "edit_link icon_link"
          %td= h person.first_name
          %td= h person.last_name
          %td= h person.netid
          %td= h person.employeeid
          %td= h person.email
          %td= h person.era_commons_username
          %td= h person.specialty
          %td= h person.ctsa_reporting_years.blank? ? "n/a" : person.ctsa_reporting_years.join(",")
          %td= link_to 'View', versions_person_path(person), :class => "show_link icon_link" if sysadmin

    .buttons
      = submit_tag "Submit"

= will_paginate @people