- stylesheet "people"
- javascript 'ui/people'
- title "Edit Profile"

- unless @person.organizational_units.blank?
  .organizational_units
    #{@person} has worked with #{@person.organizational_units.uniq.to_sentence}.

= render "/people/client_menu"

.page_section
  .profile_body
    .records_header
      - if current_user.permit?(:Admin)
        = link_to 'View Services', person_services_path(@person), :class => "show_link icon_link menu_nav" unless @person.services.blank?
        = link_to "Add to service line", { :controller => "people", :action => "new_services", :id => @person.id }, :method => :get, :class => "add_link icon_link menu_nav"
      = link_to 'List All People', people_path, :class => "list_link icon_link menu_nav" if current_user.permit?(:Admin, :User)

  = render 'form'

:javascript
  $(function () {
    peopleUI = new Clearcats.UI.People({ specialtiesUrl: '#{specialties_path(:format => :json)}', departmentsUrl: '#{departments_path(:format => :json)}', schoolsUrl: '#{schools_path(:format => :json)}'});
  });
  $(function () { $("form").dirty_form(); });
  $(function () { $("a.menu_nav").dirty_stopper(); });