- user = get_current_user
- sysadmin = user.respond_to?(:sysadmin?) && user.sysadmin?

- if @publications.blank?
  .no-records
    No publications found for #{@person}.
- else
  = form_tag(update_ctsa_reporting_year_publications_path) do
    = hidden_field_tag "person_id", @person.id
    - current_year = current_ctsa_reporting_year
    
    %table.records
      %tr
        - unless @service
          %th
            = ctsa_wording
        %th Select
        %th Reporting Years
        %th
          = sort_link @search, :pmcid, "PMCID"
        %th
          = sort_link @search, :pmid, "PMID"
        %th
          = sort_link @search, :nihms_number, "NIHMS Number"
        %th
          = sort_link @search, :publication_date, "Publication Date"
        %th
          = sort_link @search, :title, "Title"
        %th 
          = "History" if sysadmin
      - @publications.each do |pub|
        %tr{ :id => "publication_#{pub.id}", :class => cycle('even_record', 'odd_record') }
          - unless @service
            %td
              = check_box_tag "publication_ids[]", pub.id, pub.ctsa_reporting_years.include?(current_year), { :disabled => pub.previously_reported?(current_year) }
          %td
            = link_to "Select", { :controller => "/publications", :action => "edit", :id => pub, :search => params[:search] }.merge(pub_association), { :title => "Edit Publication", :class => "edit_modal_form_link edit_link icon_link" }
          %td= h pub.ctsa_reporting_years.blank? ? "n/a" : pub.ctsa_reporting_years.join(",")
          %td= h pub.pmcid
          %td= h pub.pmid
          %td= h pub.nihms_number
          %td= h pub.publication_date
          %td= h pub.title
          %td= link_to 'View', versions_publication_path(pub), :class => "show_link icon_link" if sysadmin
    - unless @service
      .buttons
        - lbl = faculty_member? ? "Save and Continue" : "Save"
        = submit_tag lbl
        
    / - @publications.each do |pub|
    /   .page_section
    /     = link_to "Select", { :controller => "/publications", :action => "edit", :id => pub, :search => params[:search] }.merge(pub_association), { :class => "edit_modal_form_link edit_link icon_link" }
    /     %br
    /     = pub.formatted_publication_date
    /     = pub.journal
    /     %br
    /     = pub.title
    /     %br
    /     = pub.abstract