%div{ :id => "publication_#{pub.id}", :class => "publication_record" }
  - unless @service
    %div
      = check_box_tag "publication_ids[]", pub.id, pub.ctsa_reporting_years.include?(current_year), { :disabled => pub.previously_reported?(current_year) }
      %span{ :class => "form_label" }
        = ctsa_wording
  %div
    = link_to "Edit", { :controller => "/publications", :action => "edit", :id => pub, :search => params[:search] }.merge(pub_association), { :title => "Edit Publication", :class => "edit_modal_form_link edit_link icon_link" }
    = link_to 'View Version History', versions_publication_path(pub), :class => "show_link icon_link" if sysadmin
  .ctsa_reportable
    %div
      %span{ :class => "label" }
        CTSA Reporting Years
      %br
      %span{ :class => "value" }
        = null_safe_collection(pub.ctsa_reporting_years)
    %div
      %span{ :class => "label" }
        = "Cited #{SYSTEM_CONFIG['grant_name']} (#{SYSTEM_CONFIG['grant_number']})"
      %br
      %span{ :class => "value" }
        = boolean_view(pub.cited)
    %div
      %span{ :class => "label" }
        Citation Count
      %br
      %span{ :class => "value" }
        = null_safe(pub.citation_cnt)
  .identification
    %div
      %span{ :class => "label" }
        PMCID
      %br
      %span{ :class => "value" }
        = null_safe(pub.pmcid)
    %div
      %span{ :class => "label" }
        PMID
      %br
      %span{ :class => "value" }
        = null_safe(pub.pmid)
    %div
      %span{ :class => "label" }
        NIHMS Number
      %br
      %span{ :class => "value" }
        = null_safe(pub.nihms_number)
    %div
      %span{ :class => "label" }
        Missing PMCID Reason
      %br
      %span{ :class => "value" }
        = null_safe(pub.missing_pmcid_reason)
  .publication
    %div
      %span{ :class => "label" }
        Journal
      %br
      %span{ :class => "value" }
        = null_safe(pub.journal)
    %div
      %span{ :class => "label" }
        Title
      %br
      %span{ :class => "value" }
        = null_safe(pub.title)
    %div
      - unless pub.abstract.blank?
        .truncated_publication_abstract
          = link_to "View Abstract", "javascript:void(0);", { :class => "truncated_publication_abstract_toggle toggle_open_link icon_link" }
        .publication_abstract.hide
          = pub.abstract
          %br
          = link_to "Hide Abstract", "javascript:void(0);", { :class => "publication_abstract_toggle toggle_closed_link icon_link" }