- title "Incomplete Publications"

.instructions
  The following records are ineligible for CTSA Reporting. They are missing the PMID.

%table.records
  %tr
    %th Edit
    %th 
      = sort_link @search, :person_last_name, "Person", :params => { :controller => "publications", :action => "incomplete" }
    %th 
      = sort_link @search, :publication_date, "Publication Date", :params => { :controller => "publications", :action => "incomplete" }
    %th
      = sort_link @search, :title, "Title", :params => { :controller => "publications", :action => "incomplete" }
    %th
      = sort_link @search, :pmid, "PMID", :params => { :controller => "publications", :action => "incomplete" }
    %th
      = sort_link @search, :nihms_number, "NIHMS Number", :params => { :controller => "publications", :action => "incomplete" }
    %th
      = sort_link @search, :cited, "Cited", :params => { :controller => "publications", :action => "incomplete" }
    %th
      Reporting Year
  - @publications.each do |pub|
    %tr{ :class => cycle('even_record', 'odd_record') }
      %td= link_to "Edit", { :controller => "publications", :action => "edit", :id => pub, :search => params[:search], :person_id => pub.person.id }, { :class => "edit_link icon_link" }
      %td= h pub.person
      %td= h pub.publication_date
      %td= h truncate(pub.title, :length => 50)
      %td= h pub.pmid
      %td= h pub.nihms_number
      %td= h pub.cited? ? "Yes" : "No"
      %td= h pub.ctsa_reporting_years.join(",")

= will_paginate @publications
