- javascript "ui/publications"
- title_text = params[:view_all].blank? ? "Publications since #{SYSTEM_CONFIG['ctsa_base_line_year']} for #{@person}" : "All Publications for #{@person}"
- title title_text

= render "/people/client_menu"

.page_section
  = render '/publications/list', :publications => @publications, :person => @person, :search => @search_params, :service => nil

:javascript
  $(function () {
    var sortByUrlMap = #{publications_sort_by_url_map(@search).to_json},
        publicationsUI = new Clearcats.UI.Publications({ sortByUrlMap: sortByUrlMap });
  });