- title "Users"
- if @users.blank?
  %p.no_records
    No users were found.
- else
  %table.records
    %tr
      %th= sort_link @search, :last_name, "Last Name", :params => {:page => params[:page]}
      %th= sort_link @search, :first_name, "First Name", :params => {:page => params[:page]}
      %th= sort_link @search, :username, "Username", :params => {:page => params[:page]}
      %th= sort_link @search, :title, "Title", :params => {:page => params[:page]}
      %th= sort_link @search, :email, "Email", :params => {:page => params[:page]}
      %th= sort_link @search, :organizational_unit_name, "Org Unit", :params => {:page => params[:page]}
      %th &nbsp;
    - @users.each do |user|
      %tr
        %td= h user.last_name
        %td= h user.first_name
        %td= h user.username
        %td= h user.title
        %td= h user.email
        %td= h user.organizational_unit
        %td= link_to 'Edit', edit_user_path(user), :class => "edit_link icon_link"
.links
  = link_to 'New User', new_user_path, :class => "add_link icon_link"