#awards
  - if @person.employeeid.blank?
    .notice
      Awards are culled from InfoED by the employee id. #{@person} is missing an employee id.
      = link_to "Update #{@person}.", edit_person_path(@person), :class => "edit_link icon_link"

  - if @service
    - ordering_params   = { :controller => "services", :action => "choose_awards", :id => @service.id }
    - award_association = { :service_id => @service.id }
  - else 
    - ordering_params   = { :controller => "awards", :action => "index", :person_id => @person.id }
    - award_association = { :person_id => @person.id }

  .awards_body
    .records_header
      = link_to "Add New Award", { :controller => "/awards", :action => "new", :search => @search_params }.merge(award_association), { :class => "edit_modal_form_link add_link icon_link" }
      - if @service.blank? and !faculty_member?
        - if params[:view_all].blank?
          = link_to 'View All Awards', person_awards_path(@person, :view_all => true), :class => "list_link icon_link" 
        - else
          = link_to "View Awards since #{SYSTEM_CONFIG['ctsa_base_line_year']}", person_awards_path(@person), :class => "list_link icon_link"
          
    - if @awards.blank?
      .no-records
        No awards found for #{@person}
    - else
      .award_records
        .awards_sort_by
          %strong
            Sort By
          = select_tag :sort_awards_by,  options_for_awards_sort_by_select(params[:search][:order])
        = render '/awards/awards_records', { :ordering_params => ordering_params, :award_association => award_association }
      
:javascript
  $(function () {
    var sortByUrlMap = #{awards_sort_by_url_map(@search).to_json},
        awardsUI = new Clearcats.AwardsUI({ sortByUrlMap: sortByUrlMap });
  });