- edit_link_params = { :controller => "/awards", :action => "edit", :id => award, :search => params[:search] }.merge(award_association)
%div{ :id => "award_#{award.id}", :class => "award_record span-23" }
  - unless @service
    %div
      = check_box_tag "award_ids[]", award.id, award.ctsa_reporting_years.include?(current_year)
      %span{ :class => "form_label" }
        = ctsa_wording
  %div
    = link_to "Edit", edit_link_params, { :title => "Edit Award", :class => "edit_modal_form_link edit_link icon_link" }
    = link_to "Details", details_award_path(award), { :class => "details_view_link list_link icon_link" } if sysadmin
    = link_to 'View Version History', versions_award_path(award), :class => "show_link icon_link" if sysadmin
  .organization
    %div
      %span{ :class => "label" }
        Organization
      %br
      %span{ :class => "value" }
        = null_safe(award.organization)
    %div
      %span{ :class => "label" }
        Activity Code
      %br
      %span{ :class => "value" }
        = null_safe(award.activity_code)
  .ctsa_reportable
    %div
      %span{ :class => "label" }
        CTSA Reporting Years
      %br
      %span{ :class => "value" }
        = null_safe_collection(award.ctsa_reporting_years)
    %div
      %span{ :class => "label" }
        NUCATS Assisted
      %br
      %span{ :class => "value" }
        = boolean_view(award.nucats_assisted)
    %div
      %span{ :class => "label" }
        Award Number
      %br
      %span{ :class => "value" }
        = null_safe(award.ctsa_award_type_award_number)
  .sponsor_info
    %div
      %span{ :class => "label" }
        Sponsor
      %br
      %span{ :class => "value" }
        = null_safe(award.sponsor)
    %div
      %span{ :class => "label" }
        Sponsor Award Number
      %br
      %span{ :class => "value" }
        = null_safe(award.sponsor_award_number)
    %div
      %span{ :class => "label" }
        Grant Title
      %br
      %span{ :class => "value" }
        = null_safe(award.grant_title)
    %div
      %span{ :class => "label" }
        Budget Number
      %br
      %span{ :class => "value" }
        = null_safe(award.budget_identifier)
  .project_info
    %div
      %span{ :class => "label" }
        Project Period
      %br
      %span{ :class => "value" }
        = formatted_date(award.project_period_start_date)
        &ndash;
        = formatted_date(award.project_period_end_date) 
    %div
      %span{ :class => "label" }
        Project Cost
      %br
      %span{ :class => "value" }
        = number_to_currency(award.total_project_cost, :precision => 0)
