- if @awards.blank?
  .no-records
    No awards found.
- else
  #search_results
    Results
  .records_header
    .page_entries_info
      = raw page_entries_info @awards, :entry_name => "record"
    = will_paginate @awards

  - current_year = current_ctsa_reporting_year
  %table.records
    %tr
      %th Edit
      %th Reporting Years
      %th
        = sort_link @search, :person_last_name, "Person"
      %th
        = sort_link @search, :sponsor_name, "Sponsor"
      %th
        = sort_link @search, :sponsor_award_number, "Sponsor Award Number"
      %th
        = sort_link @search, :grant_title, "Grant Title"
    - @awards.each do |award|
      %tr{ :class => cycle('even_record', 'odd_record') }
        %td
          = link_to "Edit", { :controller => "awards", :action => "edit", :id => award }, { :class => "edit_link icon_link" } 
        %td= award.ctsa_reporting_years.blank? ? "n/a" : award.ctsa_reporting_years.join(",")
        %td
          = link_to award.person, person_awards_path(award.person, :view_all => true), { :class => "show_link icon_link" } 
        %td= award.sponsor
        %td= award.sponsor_award_number
        %td= truncate(award.grant_title)
  = will_paginate @awards