- javascript "ui/awards"
- title_text = params[:view_all].blank? ? "Awards since #{SYSTEM_CONFIG['ctsa_base_line_year']} for #{@person}" : "All Awards for #{@person}"
- title title_text

= render "/people/client_menu" 

.page_section
  = render '/awards/list', :awards => @awards, :person => @person, :search => @search_params, :service => nil
  
:javascript
  $(function () {
    var prefixPath = '#{cc_prefix_path}',
        sortByUrlMap = #{awards_sort_by_url_map(@search).to_json},
        awardsUI = new Clearcats.UI.Awards({ sortByUrlMap: sortByUrlMap, prefixPath: prefixPath });
  });