- title "Versions - Award"

- if @award.versions.blank?
  .no_records No versions were found for #{@award}.
- else
  %table{ :class => "records" }
    %tr
      %th Revert
      %th When
      %th Who
      %th Sponsor
      %th Sponsor Award Number
      %th Grant Title
      %th Budget Number
      %th Project Start Date
    - @award.versions.each do |version|
      - if version.object
        - begin
          - attrs = YAML::load version.object
          %tr{ :class => cycle('even_record', 'odd_record') }
            %td= button_to 'Revert', revert_award_path(@award, :version_id => version.id), :method => :post
            %td= version.created_at.to_s(:db)
            %td= version.whodunnit
            %td= Sponsor.find_by_id(attrs["sponsor_id"]).to_s
            %td= attrs["sponsor_award_number"]
            %td= attrs["grant_title"]
            %td= attrs["budget_identifier"]
            %td= attrs["project_period_start_date"]
        - rescue
          - # if date format in YAML is in error - i.e. not readable by yaml
    %tr{ :class => 'current_record' }
      %td
      %td Current Version
      %td &nbsp;
      %td= h @award.sponsor
      %td= h @award.sponsor_award_number
      %td= h @award.grant_title
      %td= h @award.budget_identifier
      %td= h @award.project_period_start_date
.links
  = link_to 'List', person_awards_path(@award.person), :class => "list_link icon_link"
  = link_to 'Export CSV', versions_award_path(@award, :export => "true"), :class => "export_link icon_link"