= form_for(@project) do |f|
  = render "shared/error_messages", :object => f.object

  .page_section
    = render "shared/organizational_unit_select", :f => f
    
    %p
      = f.label :name
      %span.required *
      = f.text_field :name
  
    %p
      = f.label "service_line_id", "Service Line (optional)"
      = link_to "Manage Service Lines", service_lines_path
      = link_to "Add Service Line", { :controller => "/service_lines", :action => "new"}, { :class => "edit_modal_form_link add_link icon_link" }
      %br
      = render "service_lines/select", :service_lines => @service_lines, :selected => @project.service_line_id

  .page_section
    #key_metrics
      %p
        %b
          Key Metrics Addressed 
        %span
          = link_to "Manage Key Metrics", key_metrics_path
      %table{ :class => "records key_metrics" }
        %thead
          %tr
            %th
              Metric
            %th
        %tbody{ :class => "nested_records" }
          = f.fields_for :key_metrics do |key_metric_form|
            = render 'key_metric_fields', :f => key_metric_form
        %tfoot
          %tr
            %td{ :colspan => '2' }
              = link_to_add_fields "Add Key Metric", f, :key_metrics


  .page_section
    #notes
      %table{ :class => "records notes" }
        %thead
          %tr
            %th
              Notes
            %th{ :colspan => '2' }
        %tbody{ :class => "nested_records" }
          = f.fields_for :notes do |note_form|
            = render 'note_fields', :f => note_form
        %tfoot
          %tr
            %td{ :colspan => '3' }
              = link_to_add_fields "Add Note", f, :notes

  %p
    = f.submit "Save", :disable_with => 'Saving...'