- form_for(@project) do |f|
  = f.error_messages
  
  - if @user_organizational_units.size > 1
    %p
      = f.label "organizational_unit_id", "Organizational Unit"
      %br
      = f.select(:organizational_unit_id, @user_organizational_units.sort_by{|e| e.name}.map{|u| [u.to_s, u.id]}, { :include_blank => "-- Select Organizational Unit --" })
  - else
    = f.hidden_field :organizational_unit_id
  
  %p
    = f.label :name
    %span.required *
    %br
    = f.text_field :name
  
  %p
    = f.label "service_line_id", "Service Line (optional)"
    = link_to "Manage Service Lines", service_lines_path
    %br
    = f.select(:service_line_id, @service_lines.sort_by{|e| e.name}.map{|u| [u.to_s, u.id]}, { :include_blank => "-- Select Service Line --" })
  
  %h5
    Addresses Metric
  %p
    TODO: add metrics here
    
  %table{ :class => "records notes" }
    %thead
      %tr
        %th
          Notes
        %th{ :colspan => '2' }
    %tbody{ :class => "nested_records" }
      - f.fields_for :notes do |note_form|
        = render 'note_fields', :f => note_form
    %tfoot
      %tr
        %td{ :colspan => '3' }
          = link_to_add_fields "Add Note", f, :notes
  
  %p
    = f.submit "Save", :disable_with => 'Saving...'