- form_for(@key_metric) do |f|
  = f.error_messages

  = render "shared/organizational_unit_select", :f => f

  %p
    = f.label :name
    = f.text_field :name 

  %p
    = f.label :datatype
    = f.select(:datatype, KeyMetric::DATATYPES.collect { |a| [ a, a ] }, { :include_blank => "-- Select Datatype --" })
  
  %p
    = f.label :note
    %br
    = f.text_area :note 

  %p
    TODO: associate target metric

  %p
    = f.submit 'Save' 