- form_for(@key_metric) do |f|
  = f.error_messages

  %p
    = f.label :name
    = f.text_field :name 

  %p
    = f.label :metric_item_id, "Metric"
    = f.select(:metric_item_id, MetricItem.all.sort_by{ |m| m.to_s }.collect { |a| [ a.to_s, a.id ] }, { :include_blank => "-- Select Metric --" }) 
  
  %p
    = f.label :target
    %br
    = f.text_area :target 

  %p
    = f.submit 'Save' 