- title "Key Metrics"

.page_section
  - if @key_metrics.blank?
    .no_records No key metrics were found.
  - else
    .records_header
      .page_entries_info
        = page_entries_info @key_metrics
      = will_paginate @key_metrics

      %table{ :class => "records" }
        %tr
          %th.select_record
            Select
          %th
            Name
        - @key_metrics.each do |m|
          %tr{ :class => cycle('even_record', 'odd_record') }
            %td.select_record
              = link_to 'Edit', edit_key_metric_path(m), :class => "edit_link icon_link"
            %td
              = h m.to_s

  = will_paginate @key_metrics

.links
  = link_to 'New Key Metric', new_key_metric_path, :class => "add_link icon_link"