.page_section
  - if @participating_organizations.blank?
    .no_records 
      No participating organizations were found.
  - else
    .records_header
      .page_entries_info
        = raw page_entries_info @participating_organizations
      = will_paginate @participating_organizations
    %table.records
      %tr
        %th= sort_link @search, :name, "Name"
        %th= sort_link @search, :city, "City"
        %th= sort_link @search, :country_name, "Country"
        %th= sort_link @search, :us_state_name, "State"
        %th
          Reporting year(s)
        %th{ :colspan => "2" }

      - @participating_organizations.each do |org|
        %tr{ :class => cycle('even_record', 'odd_record') }
          %td=h org.name
          %td=h org.city
          %td=h org.country
          %td=h org.us_state
          %td=h org.ctsa_reporting_years.blank? ? "n/a" : org.ctsa_reporting_years.join(",")
          %td= link_to 'Edit', edit_participating_organization_path(org), :class => "edit_link icon_link"
          %td= link_to 'Delete', org, :confirm => 'Are you sure?', :method => :delete, :class => "delete_link icon_link"

  = will_paginate @participating_organizations
