%tr.activity_actor.fields
  %td
    = f.label :person_select, "Person"
    = f.text_field :person_select, :class => 'person_select_autocompleter'
    = f.hidden_field :person_id
  %td
    = f.label :role_id, "Role"
    = f.select :role_id, Role.all.sort_by{ |r| r.name }.map{ |u| [u.to_s, u.id] }, { :include_blank => "-- Select Role --" }, :class => "activity_actor_role"
  %td
    = link_to_remove_nested_attribute_fields 'Remove', f, :activity_actors