- form_for(@activity) do |f|
  = f.error_messages
  %p
    = f.label :name
    %span.required *
    %br
    = f.text_field :name
  %p
    = f.label :activity_type_name, "Activity Type"
    %span.required *
    %br
    = f.text_field :activity_type_name, :class => 'activity_type_autocompleter'
  %p
    = f.label :activity_actor_ids, "Add People"
    %br
    = f.hidden_field :activity_actor_ids
    TODO: add people here !!
    
  %table{ :class => "records notes" }
    %thead
      %tr
        %th
          Notes
        %th{ :colspan => '2' }
    %tbody{ :class => "nested_records" }
      - f.fields_for :notes do |note_form|
        = render 'note_fields', :f => note_form
    %tfoot
      %tr
        %td{ :colspan => '3' }
          = link_to_add_fields "Add Note", f, :notes
  
  %p
    = f.submit "Save", :disable_with => 'Saving...'