= form_for(@activity) do |f|
  = render "shared/error_messages", :object => f.object
  .span-24
    .span-12
      %p
        = f.label :name
        %span.required *
        %br
        = f.text_field :name  
      %p
        = f.label :service_line_id, "Service Line"
        %span.required *
        %br
        - arr = @service_lines.sort_by{|e| e.name}.map{|u| [u.to_s, u.id]}
        = select_tag("activity[service_line_id]", options_for_select([["-- Select Service Line --", ""]] + arr, @activity.service_line_id))
    .span-5
      %p
        = f.label :formatted_event_date, "Date"
        %span.required *
        %br
        = f.text_field :formatted_event_date, :class => "datepicker"
      %div{ :id => "activity_type_select", :class => "#{@activity.activity_type_id.blank? ? 'hide' : ''}" }
        = f.label :activity_type_id, "Activity Type"
        %br
        - @activity.activity_type_id
        = f.select :activity_type_id, @activity_types
    .span-6
      %p
        = f.check_box :billable
        = f.label :billable
      %p
        = f.label :cost, "Cost"
        %br
        $
        = f.text_field :cost
      %p
        = f.label :effort, "Effort"
        %br
        - hrs = (1..12).map {|i| [i, i]}
        = f.select :hours, options_for_select([["-- Hours --", ""]] + hrs, f.object.hours)
        - mins = (1..3).map {|i| [ (i * 15), (i * 15) ]}
        = f.select :minutes, options_for_select([["-- Minutes  --", ""]] + mins, f.object.minutes)
  %p
    %b
      Add People

  %table{ :class => "records activity_actors" }
    %thead
      %tr
        %th
          Person 
          %span.person_select
            (Enter Netid or Email)
        %th
          Role
        %th{ :colspan => '2' }
    %tbody{ :class => "nested_records nested_records_activity_actors" }
      = f.fields_for :activity_actors do |activity_actor_form|
        = render 'activity_actor_fields', :f => activity_actor_form
    %tfoot
      %tr
        %td{ :colspan => '4' }
          = link_to_add_nested_attribute_fields "Add Person", :activity_actors
    - @activityActorsTemplate = generate_nested_attributes_template(f, :activity_actors, 'activity_actor')
    
  %table{ :class => "records notes" }
    %thead
      %tr
        %th
          Notes
        %th{ :colspan => '2' }
    %tbody{ :class => "nested_records nested_records_notes" }
      = f.fields_for :notes do |note_form|
        = render 'note_fields', :f => note_form
    %tfoot
      %tr
        %td{ :colspan => '3' }
          = link_to_add_nested_attribute_fields "Add Note", :notes
    - @notesTemplate = generate_nested_attributes_template(f, :notes, 'note')
  
  %p
    = f.submit "Save", :disable_with => 'Saving...'
    
:javascript
  $(function () {
    var activityActorsTemplate = '#{@activityActorsTemplate}';
    var notesTemplate = '#{@notesTemplate}';

    activitiesUI = new Clearcats.UI.Activities({ activityTypesUrl: '#{activity_types_path(:format => :json)}',
                                                 selectPeopleUrl: '#{select_people_path(:format => :json)}',
                                                 activityActorsTemplate: activityActorsTemplate,
                                                 notesTemplate: notesTemplate });
                                           
  });
