= form_for(@activity) do |f|
  = render "shared/error_messages", :object => f.object
  %p
    = f.label :name
    %span.required *
    %br
    = f.text_field :name
  %p
    = f.label :activity_type_name, "Activity Type"
    %span.required *
    %br
    = f.text_field :activity_type_name, :class => 'activity_type_autocompleter'
  %p
    %b
      Add People

  %table{ :class => "records activity_actors" }
    %thead
      %tr
        %th
          Person
        %th
          Role
        %th{ :colspan => '2' }
    %tbody{ :class => "nested_records nested_records_activity_actors" }
      = f.fields_for :activity_actors do |activity_actor_form|
        = render 'activity_actor_fields', :f => activity_actor_form
    %tfoot
      %tr
        %td{ :colspan => '4' }
          = link_to_add_nested_attribute_fields "Add Person", :activity_actors
    - @activityActorsTemplate = generate_nested_attributes_template(f, :activity_actors, 'activity_actor')
    
  %table{ :class => "records notes" }
    %thead
      %tr
        %th
          Notes
        %th{ :colspan => '2' }
    %tbody{ :class => "nested_records nested_records_notes" }
      = f.fields_for :notes do |note_form|
        = render 'note_fields', :f => note_form
    %tfoot
      %tr
        %td{ :colspan => '3' }
          = link_to_add_nested_attribute_fields "Add Note", :notes
    - @notesTemplate = generate_nested_attributes_template(f, :notes, 'note')
  
  %p
    = f.submit "Save", :disable_with => 'Saving...'
    
:javascript
  $(function () {
    var activityActorsTemplate = '#{@activityActorsTemplate}';
    var notesTemplate = '#{@notesTemplate}';

    activitiesUI = new Clearcats.UI.Activities({ activityTypesUrl: '#{activity_types_path(:format => :json)}',
                                                 selectPeopleUrl: '#{select_people_path(:format => :json)}',
                                                 activityActorsTemplate: activityActorsTemplate,
                                                 notesTemplate: notesTemplate });
                                           
  });
