- title "Metric Items"

.page_section
  - if @metric_items.blank?
    .no_records No metrics were found.
  - else
    .records_header
      .page_entries_info
        = page_entries_info @metric_items
      = will_paginate @metric_items

      %table{ :class => "records" }
        %tr
          %th.select_record
            Select
          %th.select_record
            = order @search, :by => :datatype, :as => "Datatype"
          %th
          %th
            = order @search, :by => :name, :as => "Name"
        - @metric_items.each do |m|
          %tr{ :class => cycle('even_record', 'odd_record') }
            %td.select_record
              = link_to 'Edit', edit_metric_item_path(m), :class => "edit_link icon_link"
            %td.select_record
              = h m.datatype
            %td
              of
            %td
              = h m.name
            

  = will_paginate @metric_items

.links
  = link_to 'New Metric', new_metric_item_path, :class => "add_link icon_link"