!!!

%html{ :xmlns =>"http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  = render 'shared/layout_head'

  %body
    .container
      #home
        = link_to("clearcats", "#{cc_prefix_path}/", :class => "no_link menu_nav")
      
      #menu
        
      = render 'shared/layout_header', :menus => "shared/menus", :show_logout => true
      .clear

      #main
        - flash.each do |message_type, message|
          %div{ :class => "message", :id => message_type }
            - if message_type == :link_notice or message_type == :link_warning
              = raw message
            - else
              = message
      
        = yield

      .clear
      = render 'shared/layout_footer'

