!!!

%html{ :xmlns =>"http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  = render 'shared/layout_head'
  
  %body
    .container
      #home
        = link_to("clearcats", "#{cc_prefix_path}/", :class => "no_link menu_nav")
      
      #menu
        
      = render 'shared/layout_header', :menus => "shared/generic_menus", :show_logout => false
      .clear

      #main
        = yield

      .clear
      = render 'shared/layout_footer'
